.modalContainer {
  width: auto;
  height: auto;
  /* Ill figure out the animation at some point */
  /* transition: 0.15s linear; */
}
.container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 98;
  display: table;
  text-align: center;
  background-color: rgba(235, 235, 235, 0.9);
}
.content {
  display: table-cell;
  vertical-align: middle;
}
.box {
  display: block;
  margin: auto;
  width: 35%;
  height: auto;
  min-height: 1px;
  max-height: calc(100vh - 150px);
  overflow-y: auto;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding: 0 5px;
  padding-bottom: 10px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .box {
    width: 85%;
  }
}
.closeContainer {
  display: none;
  height: 40px;
  width: 30px;
  overflow: hidden;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 35px;
}
.close {
  font-size: 60px;
  line-height: 40px;
}
.boxCloseContainer {
  height: 15px;
  overflow: auto;
  position: relative;
}
.boxClose {
  position: absolute;
  right: 18px;
  font-size: 25px;
  cursor: pointer;
  color: gray;
}
@media screen and (max-width: 768px) {
  .boxClose {
    display: none;
  }
  .closeContainer {
    display: inline;
  }
}
.boxContent {
  margin: 12px auto;
}
/* Animations */
.visible {
  opacity: 1;
  visibility: visible;
}
.hidden {
  opacity: 0;
  visibility: hidden;
}