.container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 98;
  display: table;
  text-align: center;
  background-color: rgba(235, 235, 235, 0.85);
}
.content {
  display: table-cell;
  vertical-align: middle;
}
.box {
  display: block;
  margin: auto;
  width: 35%;
  height: auto;
  min-height: 1px;
  max-height: calc(100vh - 150px);
  background-color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding: 10px 5px;
}
@media screen and (max-width: 768px) {
  .box {
    width: 85%;
  }
}