files:
  "/etc/nginx/conf.d/000_my_config.conf":
  content: |
    server {
      listen 80 default_server;
      listen [::]:80 default_server;

        location / {
          try_files $uri /test.html;
        }

        location /maybe {
          proxy_pass https:/www.google.com/;
          proxy_set_header Host $host;
        }
      }