/* Global rules */
* {
  padding: 0;
  margin: 0;
}
html, body {
  width: 100%;
  height: 100%;
  background-color: white;
  font: 15px/1.5 "Roboto";
}
a {
  color: #419efc;
  text-decoration: none;
}
a:hover, a:focus {
  color: #1270cc;
  text-decoration: underline;
}
/* App container */
.container {
  transition: 0.15s linear;
  position: relative;
  position: left;
}
.content {
  min-height: calc(100vh - 45px);
  width: 100%;
  padding-top: 45px;
}
/* Animations */
.visible {
  transform: translateX(-250px);
}
.hidden {
  transform: translateX(0);
}